<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Devices running Android 12L (API level 32) or lower -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!--
 To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".payWithStripe.CheckoutActivity"
            android:theme="@style/Theme.SampleBaseApp"
            android:exported="true" >

        </activity>
        <activity
            android:name=".NetworkDetectActivity"
            android:exported="false" />
        <activity
            android:name=".forKoin.KoinSpecificActivity"
            android:exported="true"
            android:theme="@style/Theme.SampleBaseApp">
        </activity>
        <activity
            android:name=".DeepLinkActivity"
            android:exported="true"
            android:theme="@style/Theme.SampleBaseApp">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.example.com" />
                <data android:pathPrefix="/product" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TheViewStubActivity"
            android:exported="true"
            android:theme="@style/Theme.SampleBaseApp" />
        <activity
            android:name=".CoilImageLoadingActivity"
            android:exported="true" />
        <activity
            android:name=".SamplePIPActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.SampleBaseApp" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.SampleBaseApp"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SampleBaseApp" />

        <service
            android:name=".background_syncing.NotificationService"
            android:foregroundServiceType="dataSync" />

        <receiver android:name=".background_syncing.AlarmReceiver" />
    </application>

</manifest>